<h6>
	{{park_name}}
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	<button class="change-availability btn btn-primary" data-id="{{id}}" data-parkstatus="{{available}}">
		{{#if available}}Add to Wishlist{{else}}Add to Visited{{/if}}
	</button>
</h6>
