<nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightgreen">
  <a class="navbar-brand" href="home/html">National Parks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  ​
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Search by:
        </a>
        <div class="dropdown-menu bg-success" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Top Parks</a>
          <a class="dropdown-item" href="#">Location</a>
          <a class="dropdown-item" href="#">Alphabetical</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Search yourself!</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<br>
​
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <form class="form-signin">
          <h2 class="form-signin-heading">Please sign in</h2>
          <br>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <br>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <br>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <a class="btn btn-lg btn-primary btn-block" type="submit" href="/profile">Sign in</a>
          ​
          <div class="card-footer ">
            <div class="d-flex justify-content-center links">
              Don't have an account?<a href="/signup">Sign Up</a>
            </div>
            <div class="d-flex justify-content-center">
              <a href="#">Forgot your password?</a>
            </div>
          </div>
        </form>
      </div>
      <br>
      <div class="row">
        <h2>Map of the Park:</h2>
      </div>
      ​
    </div>
    <div class="col-6">
      <h2>Information on the Park Systems</h2>
      ​
    </div>
  </div>
</div>
​
</div>

<br>
<br>
<footer class="footer">
  <div class="container">
    <span class="text-muted">Copyright: @____________</span>
  </div>
</footer>
