<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(63, 31, 1);">
     <img style="height: 100px" src="https://www.nps.gov/cabr/blogs/images/Arrowhead_3.png">
    <a style="font-family: 'Quicksand', sans-serif; font-size: 40px; font-style: bolder; color: white" class="navbar-brand" href="/profile">National Parks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
                <ul class="nav nav-pills">
                    <li><a style="background-color:rgb(1, 71, 1); color: white; " class="btn btn-md" id="ranked" href="/searchRanked">All parks
                            (ranked)</a>&nbsp;&nbsp;&nbsp;</li>
                    <li><a style="background-color:rgb(1, 71, 1); color: white; " class="btn btn-md" id="alpha" href="/searchAlpha">All parks
                            (alphabetical)</a>&nbsp;&nbsp;&nbsp;</li>
                    <div class="dropdown">
                        <button style="background-color:rgb(1, 71, 1); color: white; " class="btn btn-md dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Parks by State
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/searchState/Alaska">Alaska</a>
                            <a class="dropdown-item" href="/searchState/American Samoa">American Samoa</a>
                            <a class="dropdown-item" href="/searchState/Arizona">Arizona</a>
                            <a class="dropdown-item" href="/searchState/Arkansas">Arkansas</a>
                            <a class="dropdown-item" href="/searchState/California">California</a>
                            <a class="dropdown-item" href="/searchState/Colorado">Colorado</a>
                            <a class="dropdown-item" href="/searchState/Florida">Florida</a>
                            <a class="dropdown-item" href="/searchState/Hawaii">Hawaii</a>
                            <a class="dropdown-item" href="/searchState/Indiana">Indiana</a>
                            <a class="dropdown-item" href="/searchState/Kentucky">Kentucky</a>
                            <a class="dropdown-item" href="/searchState/Maine">Maine</a>
                            <a class="dropdown-item" href="/searchState/Michigan">Michigan</a>
                            <a class="dropdown-item" href="/searchState/Minnesota">Minnesota</a>
                            <a class="dropdown-item" href="/searchState/Missouri">Missouri</a>
                            <a class="dropdown-item" href="/searchState/Montana">Montana</a>
                            <a class="dropdown-item" href="/searchState/Nevada">Nevada</a>
                            <a class="dropdown-item" href="/searchState/New Mexico">New Mexico</a>
                            <a class="dropdown-item" href="/searchState/North Dakota">North Dakota</a>
                            <a class="dropdown-item" href="/searchState/Ohio">Ohio</a>
                            <a class="dropdown-item" href="/searchState/Oregon">Oregon</a>
                            <a class="dropdown-item" href="/searchState/South Carolina">South Carolina</a>
                            <a class="dropdown-item" href="/searchState/South Dakota">South Dakota</a>
                            <a class="dropdown-item" href="/searchState/Texas">Texas</a>
                            <a class="dropdown-item" href="/searchState/U.S. Virgin Islands">U.S. Virgin Islands</a>
                            <a class="dropdown-item" href="/searchState/Utah">Utah</a>
                            <a class="dropdown-item" href="/searchState/Virginia">Virginia</a>
                            <a class="dropdown-item" href="/searchState/Washington">Washington</a>
                            <a class="dropdown-item" href="/searchState/Wyoming">Wyoming</a>
                            <a class="dropdown-item" href="/searchState/Tennessee">Tennessee</a>
                        </div>
                    </div>
                </ul>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a style="background-color:rgb(1, 71, 1); color: white; " class="btn btn-lg btn-primary btn-block" type="submit" href="/signIn">Sign in</a>
        </form>
    </div>
</nav>
<br>
​
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="text-center">
        <h2 style="font-family: 'Quicksand', sans-serif"; ><u>Map of National Parks</u></h2>
        {{> profile/profile-block}}
      </div>
      ​
    </div>
    <div class="col-6">
      <h2  class="text-center"><u>Information on the Park Systems</u></h2>
      <p>
        "The United States has 61 protected areas known as national parks that are operated by the National Park
        Service, an agency of the Department of the Interior. National parks must be established by an act of the United
        States Congress. 
      </p>
      <p>
        A bill creating the first national park, Yellowstone, was signed into law by President Ulysses
        S. Grant in 1872, followed by Mackinac National Park in 1875 (decommissioned in 1895), and then Rock Creek Park
        (later merged into National Capital Parks), Sequoia and Yosemite in 1890. The Organic Act of 1916 created the
        National Park Service "to conserve the scenery and the natural and historic objects and wildlife therein, and to
        provide for the enjoyment of the same in such manner and by such means as will leave them unimpaired for the
        enjoyment of future generations."
      </p>
      <p>
        Criteria for the selection of national parks include natural beauty, unique geological features, unusual
        ecosystems, and recreational opportunities (though these criteria are not always considered together).
      </p>
      <p>
        Twenty-nine states have national parks, as do the territories of American Samoa and the United States Virgin
        Islands. California has the most with nine, followed by Alaska with eight, Utah with five, and Colorado with
        four. The largest national park is Wrangell–St. Elias in Alaska: at over 8 million acres (32,375 km2), it is
        larger than each of the nine smallest states. The next three largest parks are also in Alaska. The smallest park
        is Gateway Arch National Park, Missouri, at approximately 192.83 acres (0.7804 km2). The total area protected by
        national parks is approximately 52.2 million acres (211,000 km2), for an average of 870 thousand acres (3,500
        km2) but a median of only 229 thousand acres (930 km2)."
      </p>
      ​
    </div>
  </div>
</div>
​
</div>

<br>
<br>
<footer class="footer">
  <div class="container">
    <span class="text-muted">Copyright: @____________</span>
  </div>
</footer>