<nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightgreen">
    <a class="navbar-brand" href="/profile">National Parks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
                <ul class="nav nav-pills">
                    <li><a class="btn btn-success" id="ranked" href="/searchRanked">All parks
                            (ranked)</a>&nbsp;&nbsp;&nbsp;</li>
                    <li><a class="btn btn-success" id="alpha" href="/searchAlpha">All parks
                            (alphabetical)</a>&nbsp;&nbsp;&nbsp;</li>
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Parks by State
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/searchState/Alaska">Alaska</a>
                            <a class="dropdown-item" href="/searchState/American Samoa">American Samoa</a>
                            <a class="dropdown-item" href="/searchState/Arizona">Arizona</a>
                            <a class="dropdown-item" href="/searchState/Arkansas">Arkansas</a>
                            <a class="dropdown-item" href="/searchState/California">California</a>
                            <a class="dropdown-item" href="/searchState/Colorado">Colorado</a>
                            <a class="dropdown-item" href="/searchState/Florida">Florida</a>
                            <a class="dropdown-item" href="/searchState/Hawaii">Hawaii</a>
                            <a class="dropdown-item" href="/searchState/Indiana">Indiana</a>
                            <a class="dropdown-item" href="/searchState/Kentucky">Kentucky</a>
                            <a class="dropdown-item" href="/searchState/Maine">Maine</a>
                            <a class="dropdown-item" href="/searchState/Michigan">Michigan</a>
                            <a class="dropdown-item" href="/searchState/Minnesota">Minnesota</a>
                            <a class="dropdown-item" href="/searchState/Missouri">Missouri</a>
                            <a class="dropdown-item" href="/searchState/Montana">Montana</a>
                            <a class="dropdown-item" href="/searchState/Nevada">Nevada</a>
                            <a class="dropdown-item" href="/searchState/New Mexico">New Mexico</a>
                            <a class="dropdown-item" href="/searchState/North Dakota">North Dakota</a>
                            <a class="dropdown-item" href="/searchState/Ohio">Ohio</a>
                            <a class="dropdown-item" href="/searchState/Oregon">Oregon</a>
                            <a class="dropdown-item" href="/searchState/South Carolina">South Carolina</a>
                            <a class="dropdown-item" href="/searchState/South Dakota">South Dakota</a>
                            <a class="dropdown-item" href="/searchState/Texas">Texas</a>
                            <a class="dropdown-item" href="/searchState/U.S. Virgin Islands">U.S. Virgin Islands</a>
                            <a class="dropdown-item" href="/searchState/Utah">Utah</a>
                            <a class="dropdown-item" href="/searchState/Virginia">Virginia</a>
                            <a class="dropdown-item" href="/searchState/Washington">Washington</a>
                            <a class="dropdown-item" href="/searchState/Wyoming">Wyoming</a>
                            <a class="dropdown-item" href="/searchState/Tennessee">Tennessee</a>
                        </div>
                    </div>
                </ul>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-lg btn-primary btn-block" type="submit" href="/signIn">Sign in</a>
        </form>
    </div>
</nav>

<br>

<div class="container text-center">
  <div class="jumbotron py-1">
    <h1 class="display-4">Profile Page</h1>
    <p class="lead">Welcome to Your Hiking-Buddy Profile</p>
    <hr class="my-4">
    <p>You can edit your info, add parks you'd like to visit, and add parks you have already visited.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4 text-center">
      <h2>Profile</h2>
      <div class="col-6">
        <img src="http://placehold.it/250x350" alt="" class="img-rounded img-responsive" />
        <div class="bio">
          <p>This is a dummy space to put the "PUT" option to update your bio</p>
        </div>
      </div>
    </div>
    <div class="col-8 text-center">
      <div class="row">
        <div class="col">
          <h4><u>Parks I've Visited</u></h4>
          {{#each parks}}
            {{#if visited}}
              <li>
                {{this.park_name}}
              <li>
            {{/if}}
          {{/each}}
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col">
          <h4><u>Parks I Want to Visit</u></h4>
          {{#each parks}}
            {{#if wishList}}
              <li>
                {{this.park_name}}
              <li>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Copyright: @____________</span>
  </div>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>