<nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(63, 31, 1); ">
    <img style="height: 100px" src="https://www.nps.gov/cabr/blogs/images/Arrowhead_3.png">
    <a style="font-family: 'Quicksand', sans-serif; font-size: 40px; font-style: bolder; color: white"
        class="navbar-brand" href="/profile">National Parks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </nav>
<div style="width: 500px" class="container">
<br style="line-height: 100px">
<div style="align-content: center"; class="container">
    <form style="text-align:center; border: 2px solid rgb(1, 71, 1); padding:4px 4px; font-family: 'Viga', sans-serif" class="form-signin" method="post" action="/signin">
        <br style="line-break: 20px">
        <h2 class="form-signin-heading">Please sign in</h2>
        <br>
        <label for="email" class="text">Email Address: </label>
        <input type="email" id="email" name="email" class="text" placeholder="Email address" required autofocus>
        <br>
        <label style="margin-left: 35px" for="password" class="password">Password: </label>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <br>
       
        <input style="background:rgb(2, 141, 2); color:white;"class="btn" type="submit" value="Sign In" />
        ​<br style="line-height: 50px">
        <div class="card-footer ">
            <div class="d-flex justify-content-center links">
                Don't have an account yet?<a href="/signup">Sign Up</a>
            </div>
            <div class="d-flex justify-content-center">
                <a href="#">Forgot your password?</a>
            </div>
        </div>
    </form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Bootstrap JavaScript CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<br>
<br>