

{{!-- <div class="container">
    <form id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form>
</div>
<div>
    <input class="btn" type="signup" value="Don't have an account then sign up here"/>
</div> --}}

<div style="align-content: center"; class="container">
    <form class="form-signin" method="post" action="/signin">
          <h2 class="form-signin-heading">Please sign in</h2>
          <br>
          <label for="email" class="text">Email Address</label>
          <input type="email" id="email" name="email" class="text" placeholder="Email address" required autofocus>
          <br>
          <label for="password" class="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Password" required>
          <br>
          {{!-- <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div> --}}
          <input class="btn" type="submit" value="Sign In" />
          ​
          <div class="card-footer ">
            <div class="d-flex justify-content-center links">
              Don't have an account yet?<a href="/signup">Sign Up</a>
            </div>
            <div class="d-flex justify-content-center">
              <a href="#">Forgot your password?</a>
            </div>
          </div>
        </form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Bootstrap JavaScript CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<br>
<br>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Copyright: @____________</span>
    </div>
</footer>


