/* body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: blanchedalmond;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: rgb(63, 31, 1);
    text-align: center;
  }

  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }
  /* body{
    background-color: blanchedalmond;
    background-image: url("https://www.nps.gov/cabr/blogs/images/Arrowhead_3.png");
    margin-left: 500px; 
    height: 700px; 
    opacity: .05;
  } */

  .card {
    background-image: url("/images/finaltopo.jpg"); border: 2px solid rgb(1, 71, 1);
  }
  body{
    
    background-color: #ffeecc;
    background-image: url('/images/editedArrowhead_3.png');
    background-position: center top;
    background-attachment: fixed;
    background-size: 800px;
    background-repeat: no-repeat;
  
    font-family: 'Quicksand', sans-serif;
  }
  .span{
   font: rgb(230, 194, 140);
   text-align: center;
  }
  














  .carousel-item {
    height: 100vh;
    background: no-repeat center;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
 }

 .signIn {
  background-color:rgb(1, 71, 1); 
  color: white;
}

.welcome {
  margin-top: 200px;
}
