.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: rgb(63, 31, 1);
    text-align: center;
  }

  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }
 

  .card {
    background-image: url("/images/finaltopo.jpg"); 
    border: 2px solid rgb(1, 71, 1);
    font-style: bolder;
  }
  body{
    
    background-color: #ffeecc;
    background-image: url('/images/editedArrowhead_3.png');
    background-position: center top;
    background-attachment: fixed;
    background-size: 800px;
    background-repeat: no-repeat;
  
    font-family: 'Quicksand', sans-serif;
  }
  .span{
   font: rgb(230, 194, 140);
   text-align: center;
  }
  h4{
    margin-top: 40px;
    font-style: bolder;
    font-family: 'Viga', sans-serif;
    background: white;

  }
  h5{
    font-style: bolder;
    color: black;
    font-family: 'Viga', sans-serif;
    background: white;
    margin-top: 5px;
  }

  .carousel-item {
    height: 100vh;
    background: no-repeat center;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background-size: cover;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
 }

 .signIn {
  background-color:rgb(1, 71, 1); 
  color: white;
}

.welcome {
  margin-top: 200px;
}
